---
name: Publish Docker images to Docker Hub
on:
  push:
      branches: [ master ] # Set which branch to trigger this flow, e.q. [ master, develop ]
jobs:
  push_images_to_dockerhub:
    name: Push images to ACR
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Create credential file
        shell: bash
        run: |
          echo "Checkout path = $GITHUB_WORKSPACE"
          cd "$GITHUB_WORKSPACE/src/env/local"
          pwd
          touch credentials.robot
          echo "*** Variables ***" > credentials.robot
          echo "\${ID}    ${{ secrets.DOCKERHUB_USERNAME }}" >> credentials.robot
          echo "\${PWD}    ${{ secrets.DOCKERHUB_PASSWORD }}" >> credentials.robot
          ls -al
          cat credentials.robot
      - name: Login to ACR
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      - name: Build and push
        id: build_publish
        uses: docker/build-push-action@v2
        with:
          context: . # Use Path Context for not checking out git repository again and overwrite the one from previous step.
          file: ./docker/dockerfile
          push: true
          tags: ${{ secrets.ACR_REGISTRY}}/${{ secrets.DOCKER_IMAGE_NAME }}:latest